<h1>Ejemplo</h1>
<form [formGroup]="user">
  <h3>Root component</h3>
  <label>
    first name:
    <input type="text" formControlName="fname">
  </label>
  <br>
  <label>
    user name:
    <input type="text" formControlName="uname">
  </label>
</form>
<button (click)="save()">Save</button>
<h2>state: {{ myState }}</h2>
<br><br>
<div [ngStyle]="{'border':'1px solid', 'text-align':'center'}" *ngIf="controlShow">
	<h3>Child component</h3>
	<app-child [data1]="fname" [data2]="uname" (message)="changeState($event)"></app-child>
</div>

